@import "tailwindcss";

:root {
  --primary-red: #ff2f31;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: #010101;
  color: #ffffff;
}

@theme {
  --color-primary-red: #ff2f31;
  --color-secondary-red: #FFF7F7;
  --color-primary-text: #2D2D2D;
  --color-secondary-text: #818181;
}