@import "tailwindcss";

:root {
  --primary-red: #ff2f31;
  
  /* Font sizes */
  --font-size-heading: 2.25rem; /* 36px */
  --font-size-body: 1rem;        /* 16px */
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: #010101;
  color: #ffffff;
}

button {
  cursor: pointer;
}

@theme {
  --color-primary-red: #ff2f31;
  --color-secondary-red: #FFF7F7;
  --color-primary-text: #2D2D2D;
  --color-secondary-text: #818181;
  
  --color-light-red: #FFF7F7;
}

